<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
      <br>
    </div>

    <div class="col-xs-6 text-right">
      <a href="#/note/create" class="btn btn-success">Nowa notatka</a>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">

      <div ng-repeat="note in notes | filter : search">

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-6">
              <div id="title">
                <h2>
                  {{note.title}}
                </h2>
              </div>
              <div id="info">
                <h4><span class="label label-info">{{note.date}}, {{note.name}}</span></h4>
              </div>
              <div id="content">
                <p>{{note.content}}</p>
              </div>

              <a href="#/note/edit/{{note.id}}" class="btn btn-success">Edytuj</a>
            </div>
            <div class="col-md-6">

              <div ng-if="note.thumb">
                <p>Ilosc zdjąć w notatce: {{note.file_count}}</p>
                <a href="uploads/{{note.id}}/{{note.thumb}}"><img src="uploads/{{note.id}}/{{note.thumb}}"   alt="" class="img-thumbnail" style="max-width: 300px;"></a></div>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>